<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <div class="container emp-profile">  
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img img_profile">
                    <img class="img_profile" src="images/{{userDetails.profile}}" alt=""/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userDetails.name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userDetails.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userDetails.phone_number}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>DOB</label>
                            </div>
                            <div class="col-md-6">
                                 <p>{{dob}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>         
    </div>
</body>
</html>

